/* regole generali */
   * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Lato';
      outline: none;
   }
   html{
      overflow:hidden;
   }
/* background */
   .background-container{
      width: 100vw;
      height: 100vh;
   }
      /* green background */
      .green-b{
         width: 100%;
         height: 15%;
         min-height: 80px;
         background-color: #009988;
      }
      /* gray background */
      .gray-b{
         width: 100%;
         height: 85%;
         background: linear-gradient(180deg, rgba(220,219,208,1) 1%, rgba(208,219,219,1) 57%);
      }
/* background */




/* total container */
   .total-container{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-flow: row nowrap;
      justify-content:flex-start;
      width: 75vw;
      min-width: 1100px;
      max-width: 1145px;
      height: 95vh;
      max-height: 700px;
      background-image: url(../img/mine.jpg);

   }
/* total container */

/* inizio total-container app */
   /* left/contatti */
   .container-left{
      width: 35%;
      max-width: 400px;
      min-width: 250px;
      height: 100%;
      border-right: 1px solid lightgray;
      display: inline-block;
   }
      /* parte fissa top*/
      .cont-left-top{
         /* debug */
         min-height: 100px;
         /* debug */
         display: flex;
         flex-flow: column nowrap;
         justify-content: flex-start;
      }

            .l-one{background-color: #eaeaea; min-height: 60px;}
            .l-two{background-color: #76dcff; min-height: 65px}
            .l-three{background-color: #ffffff; min-height: 50px; border-bottom: 1px solid black}


      /* parte scorribile (contatti) */
         .cont-left-bot{
            height: calc(100% - 175px);
            background-color: white;
            overflow-y: auto;
         }
            .left-bot{
               height: 60px;
               background-color: white;
            }
               .r-one{border-bottom: 1px solid #eaeaea;}
               .r-two{border-bottom: 1px solid #eaeaea;}
               .r-three{border-bottom: 1px solid #eaeaea;}
               .r-four{border-bottom: 1px solid #eaeaea;}
   /* left/contatti */




   /* right/chat */
      .container-right{
         width: 65%;
         min-width: 400px;
         display: flex;
         flex-flow: column wrap;
         justify-content: space-between;
      }
      /* contatto selezionato/top */
         .cont-right-top{
            height: 60px;
            background-color: #eaeaea;
         }



      /* chat centrale messaggi/center */
         .cont-right-center{
            height: calc(100% - 120px);
            padding: 30px 65px;
            display: flex;
            flex-flow: column nowrap;
            overflow-y: auto;
         }
         /* msg inviato */
            .msg-ricevuto{
               position: relative;
               min-width: 225px;
               max-width: 250px;
               background-color: gray;
               word-wrap: break-word;
               align-self: flex-start;
               background-color: white;
               border-radius: 15px;
               padding: 20px 15px;
               padding-bottom: 25px;
               margin: 10px 0;
               font-weight: 550;
            }
         /* msg ricevuto */
            .msg-inviato{
               position: relative;
               min-width: 225px;
               max-width: 250px;
               background-color: #cbfbb3;
               word-wrap: break-word;
               align-self: flex-end;
               border-radius: 15px;
               padding: 20px 15px;
               padding-bottom: 25px;
               margin: 10px 0;
               font-weight: 550;
            }
               /* data/ora msg */
               .data-ora{
                  position: absolute;
                  bottom: 5px;
                  right: 9px;
                  font-size: 12.5px;
                  color: #c3c3c3;
               }

      /* scrivi messaggio/bottom */
         .cont-right-bot{
            height: 60px;
            background-color: #f4eee9;
         }
   /* right/chat */
/* fine total-container app */
