/* regole generali */
   * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Lato';
      outline: none;
   }
   html{overflow:hidden;}
   img{width: 100%; height: auto;}

   /* img size */
   .img1 {
      height: 60px;
      width: 60px;
      border-radius: 50%;
      padding-bottom: 5px;
      padding-left: 5px;
   }
   .img2{border-radius: 50%;}
   /* icons details */
   .icons {
      color: #b3b3b3;
      font-size: 22.5px;
      align-self: center;
      padding: 0 10px;
      cursor:pointer;
   }
   /* contatto selezionato */
   .selezionato{background-color: #e9ebeb;}


/* background */
   .background-container{
      width: 100vw;
      height: 100vh;
   }
      /* green background */
      .green-b{
         width: 100%;
         height: 15%;
         min-height: 80px;
         background-color: #009988;
      }
      /* gray background */
      .gray-b{
         width: 100%;
         height: 85%;
         background: linear-gradient(180deg, rgba(220,219,208,1) 1%, rgba(208,219,219,1) 57%);
      }
/* background */




/* total container */
   .total-container{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-flow: row nowrap;
      justify-content:flex-start;
      width: 75vw;
      min-width: 1100px;
      max-width: 1145px;
      height: 95vh;
      max-height: 700px;
      background-image: url(../img/mine.jpg);
   }
/* total container */

/* inizio total-container app */
   /* left/contatti */
   .container-left{
      width: 35%;
      max-width: 400px;
      min-width: 250px;
      height: 100%;
      border-right: 1px solid lightgray;
      display: inline-block;
   }
      /* parte fissa top*/
      .cont-left-top{
         display: flex;
         flex-flow: column nowrap;
         justify-content: space-between;
      }

         .left-top{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
         }
         /* 1° */
         .l-one{background-color: #eaeaea; min-height: 70px;}
            /* left / icon nome */
            .icon-name-main{
               display: flex;
               flex-flow: row nowrap;
               justify-content: space-between;
               cursor: pointer;
            }
               .icon-name-main > img{
                  align-self: center;
                  margin: 0 10px ;
                  padding-top: 3px;
                  padding-bottom: 2px;
               }
               .icon-name-main > h5{
                  align-self: center;
                  font-size: 17px;
                  font-weight: bolder;
               }
            /* right/ icons    */
            .icons-main{
               display: flex;
               flex-flow: row wrap;
               justify-content: center;
               cursor: pointer;
            }


         /* 2° */
         .l-two{background-color: #76dcff;
               min-height: 75px;
               display: flex;
               flex-flow: row nowrap;
               justify-content: flex-start;
            }
         /* notifica icon */
         .l-two > i{
            color: #76dcff;
            padding: 16px 13.5px;
            font-size: 21px;
            background-color: white;
            border-radius: 50%;
            align-self: center;
            margin-left: 15px;
         }
         /* container notifica msg */
         .notifiche-msg{
            padding: 17.5px 14px;
            word-break: normal;
         }
            /* msg notifiche push*/
            .notifiche-msg > h4{font-size: 15px;}
            .notifiche-msg > a{font-size: 12.5px; color: #4f8da4;}


         /* 3° */
         .l-three{background-color: #f5f5f5; min-height: 55px; padding: 9px;}

            /* input container */
            .search-chat-cont{
               width: 100%;
               border-radius: 3px;
               background-color: #ffffff;
               display: flex;
               flex-flow: row nowrap;
            }
               /* icon search */
               .search-chat-cont > i{font-size: 18px; margin: 0 10px;}
               /* input */
               .search-chat::placeholder{color:lightgray; padding-left: 15px;}
               .search-chat{border: none; width: 100%;}

      /* parte scorribile (contatti) */
         .cont-left-bot{
            height: calc(100% - 200px);
            background-color: white;
            overflow-y: auto;
         }
            .left-bot{
               display: flex;
               flex-flow: row nowrap;
               justify-content: flex-start;
               position: relative;
               cursor: pointer;
               height: 75px;
               border-bottom: 1px solid #eaeaea;
               transition: 0.40s;
            }
            .left-bot:hover{background-color: #e9ebeb;}
               .left-bot > img, .name-left {align-self: center;}
               .left-bot{padding-left: 15px; padding-top: 5px;}
               .name-left > span {font-size: 14px; color: lightgray;}
                  /* bordi */
                  .r-one{border-bottom: 1px solid #eaeaea; }
                  .r-two{border-bottom: 1px solid #eaeaea;}
                  .r-three{border-bottom: 1px solid #eaeaea;}
                  .r-four{border-bottom: 1px solid #eaeaea;}

               /* ultimo accesso */
               .accesso{
                  position: absolute;
                  top: 10px;
                  right: 10px;
                  font-size: 12px;
                  color: lightgray;
               }
   /* left/contatti */



   /* right/chat */
      .container-right{
         width: 65%;
         min-width: 400px;
         display: flex;
         flex-flow: column nowrap;
         justify-content: space-between;
      }
      /* contatto selezionato/top */
         .cont-right-top{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            height: 70px;
            background-color: #eaeaea;
            padding: 7.5px 10px;
         }

            /* container left/ icona, nome e ultimo accesso */
            .icon-name-left{
               display: flex;
               flex-flow: row nowrap;
               justify-content: space-around;
               cursor: pointer;
            }
               /* container nome/ultimo accesso */
               .name-left{padding: 10px 15px;}
                  /* nome */
                  .name-left > h5{font-size: 16px;}
                  /* ultimo accesso */
                  .name-left > div{
                     font-size: 14px;
                     color: gray;
                     padding-top: 2.5px;
                     width: 200px;
                     height: 42px;
                     overflow: hidden;
                     text-overflow: ellipsis;
                     white-space: nowrap;
                  }

            /* container right / icons */
            .icons-right{display: flex;flex-flow: row nowrap;}


      /* chat centrale messaggi/center */
         .cont-right-center{
            height: calc(100% - 140px);
            padding: 30px 65px;
            display: flex;
            flex-flow: column nowrap;
            overflow-y: auto;
         }
         /* msg inviato */
            .msg-ricevuto{
               position: relative;
               min-width: 225px;
               max-width: 250px;
               background-color: gray;
               word-wrap: break-word;
               align-self: flex-start;
               background-color: white;
               border-radius: 15px;
               padding: 20px 15px;
               padding-bottom: 25px;
               margin: 10px 0;
               font-weight: 550;
            }
         /* msg ricevuto */
            .msg-inviato{
               position: relative;
               min-width: 225px;
               max-width: 250px;
               background-color: #cbfbb3;
               word-wrap: break-word;
               align-self: flex-end;
               border-radius: 15px;
               padding: 20px 15px;
               padding-bottom: 25px;
               margin: 10px 0;
               font-weight: 550;
            }
               /* data/ora msg */
               .data-ora{
                  position: absolute;
                  bottom: 5px;
                  right: 9px;
                  font-size: 12.5px;
                  color: #c3c3c3;
               }

      /* scrivi messaggio/bottom */
         .cont-right-bot{
            height: 70px;
            background-color: #f4eee9;
            padding: 7.5px 10px;
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-around;
         }
            /* 1° smile/emoticons */
            .cont-right-bot > i:first-child,
            /* 3° microphone/ messaggio vocale */
            .cont-right-bot > i:last-child{
               font-size: 22.5px;
               color: gray;
               cursor: pointer;
               align-self: center;
            }

            /*2° text area/scrivi messaggio */
            .write-msg::placeholder{color: lightgray;}
            .cont-right-bot > .write-msg{
               width: 85%;
               font-size: 17.5px;
               border: none;
               border-radius: 5px;
               padding: 10px 17.5px;
               margin: 4px 0;
               color: gray;
            }
   /* right/chat */
/* fine total-container app */



/* media query */

@media screen and (max-width: 1120px) {
   .container-left{width: 25%;}
   .total-container {min-width: calc(1100px - 20%);}
   .container-right{width: 75%;}
   .notifiche-msg{padding: 10px 14px;}
   .search-chat::placeholder{padding-left: 0;}
   .search-chat-cont > i {margin: 0;}
   .accesso{position: absolute; top: 2px; right: 4px;}
   .name-left{padding-left: 5px; padding-top: 15px;}
   .name-left > div{width: 100px;}
}
